---
const {title} = Astro.props
---

<div class="flex flex-1 flex-col p-8 rounded-t-2xl bg-white shadow-lg shadow-slate-400 h-48 hover:-translate-y-10 transition-all ease-in-out duration-500">
    <h3>{title}</h3>
</div>